@charset "ISO-8859-1";

footer
{
  	width: 100%;
	bottom: 0;
	left:0;
}
.footer-container 
{
	width: 100%;
}
.oculto
{
 	display:none;
	visibility:hidden;
}
.red
{
	background-color:Red;
}
.visible
{
    display:block;
	visibility:visible;
}

.footer-main
{
	width:100%;
	max-width:100%;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
	padding:10px 0;
}
.fondo
{
	background-color:#CBD9A2;	
}
.titulo
{
	height:120px;
}
.centrar
{
	margin-left: 25%;
    margin-top: 5%;
}
.centrarTexto
{
	text-align:center;
}