@charset "ISO-8859-1";

.oculto
{
 	display:none;
	visibility:hidden;
}
.top
{
	margin-top:2%;
}
.red
{
	background-color:Red;
}
.visible
{
    display:block;
	visibility:visible;
}

.fondo
{
	background-color:#CBD9A2;	
}
.titulo
{
	height:120px;
}
.centrar
{
	margin-left: 30%;
}
.centrarTexto
{
	text-align:center;
}